:root {
  --theme-color-primary: #45b3e0;
  --theme-color-primary-dark: #006fab;
  --theme-color-primary-darkest: #004f8b;
  --header-height: 75px;
  --site-content-max-width: 1230px;
}

* {
  box-sizing: border-box;
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-size: 15px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

ul {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.header {
  height: var(--header-height);
  width: 100%;
  display: grid;
  grid-template: var(--header-height) / repeat(3, 1fr);
  font-size: 1.5rem;
  background: linear-gradient(90deg, var(--theme-color-primary), var(--theme-color-primary), transparent, transparent, var(--theme-color-primary), var(--theme-color-primary));
  color: white;
}

.header > div {
  padding: 0.5rem 1rem;
  height: 100%;
}

#site-title {
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: flex-start;
  justify-content: center;
  font-weight: bold;
}

#header-logo-wrapper {
  height: 100%;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#header-logo-wrapper img {
  height: 300%;
}

.header .social-links {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: flex-end;
}

.header .social-links a:not(:first-child) {
  margin-left: 1rem;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: flex-start;
}

.hero {
  width: 100%;
  height: calc(100vh - var(--header-height));
  background-color: var(--theme-color-primary);
}

.hero-background {
  width: 100%;
  height: 100%;
  background-color: #00000022;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.hero-content {
  max-width: var(--site-content-max-width);
  display: grid;
  grid-template: 1fr 1fr 1fr / repeat(3, 1fr);
  margin: 0 2rem;
}

.hero-title-wrapper {
  display: flex;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
  justify-content: center;
}

.hero-title {
  font-size: 5rem;
  color: #ebebeb;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  display: flex;
  -ms-align-items: flex-end;
  align-items: flex-end;
  justify-content: flex-start;
}

.hero-subtitle {
  font-size: 2rem;
  color: #cbcbcb;
  grid-row: 2 / span 2;
  grid-column: 1 / span 1;
}

.hero-description-title {
  font-size: 2rem;
  color: #ebebeb;
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
  display: flex;
  -ms-align-items: flex-end;
  align-items: flex-end;
  justify-content: flex-start;
  justify-self: center;
}

.hero-description {
  font-size: 1.2rem;
  color: #cbcbcb;
  grid-row: 2 / span 2;
  grid-column: 3 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: flex-start
}

.section-content {
  max-width: var(--site-content-max-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.spotlight {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  min-height: 300px;
  margin-top: -3rem;
  padding: 1rem 0.5rem;
  background-color: white;
  border-radius: 10px;
}

.spotlight-column {
  border-radius: 10px;
  border: 2px solid #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0.5rem;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px #ebebeb;
}

.spotlight-column-bottom-button {
  margin-top: 1rem;
  background: var(--theme-color-primary-dark);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.5rem 0;
  width: 60%;
  color: #ebebeb;
  font-weight: bold;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.spotlight-column-bottom-button:hover {
  background: var(--theme-color-primary-darkest);
}

.spotlight-column-title {
  background: linear-gradient(0deg, var(--theme-color-primary),var(--theme-color-primary-dark),var(--theme-color-primary-dark));
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  height: 3rem;
  font-size: 1.5rem;
  color: #ebebeb;
  width: 100%;

}

.spotlight-column-content {
  min-height: 300px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background-color: transparent;
}

.item-heading, .card-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
  border-bottom: 2px solid #ebebeb;
}

.item-subheading {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #777777;
  margin-top: 0;
}

.center-text {
  text-align: center;
}

.spotlight-column-content-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0 2rem;
  z-index: 50;
  flex: 1;
}

.spotlight-item-point {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}

.ul-nostyle-center {
  list-style: none;
  text-align: center;
  margin-left: 0;
  padding-left: 0;
}

.language-list {
  font-size: 2rem;
}

#main-hero {
  background-image: url('/images/hero_back_color_sm.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.center-vert {
  justify-content: center;
}

.fullwidth {
  width: 100%;
}

.dark-background-wrapper {
  background-color: #00000099;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #00000099;
}

.light-background-wrapper {
  background-color: #ffffff99;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #ebebeb;
}

.button {
  align-self: center;
  border-radius: 5px;
  background-color: var(--theme-color-primary);
  color: white;
}

.button:hover {
  background-color: var(--theme-color-primary-dark);
}

.button a {
  font-weight: bold;
  padding: 0 0.5rem;
  height: 2rem;
  color: white;
}

.language-logo {
  height: 3rem;
  width: 100%;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.language-logo img {
  height: 100%;
  object-fit: contain;
  margin: 0 0.5rem;
}

#languages-canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 45;
}

.project-preview-mobile {
  height: 256px;
  object-fit: contain;
}

.v-space {
  width: 100%;
  height: 1rem;
}

.spotlight-recent-project-links {
  display: grid;
  grid-template: 1fr / 2fr 1fr;
}

.spotlight-recent-project-links a {
  text-align: center;
  margin: 0.5rem;
  border-radius: 5px;
  background-color: var(--theme-color-primary);
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.spotlight-recent-project-links a:hover {
  background-color: var(--theme-color-primary-dark);
}


.spotlight-recent-project-description {
  padding: 1rem 0;
}

.footer {
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--theme-color-primary-dark);
  padding-top: 1rem;
  color: white;
}

.footer-content {
  max-width: var(--site-content-max-width);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 1rem;
}

#footer-logo {
  height: var(--header-height);
  filter: brightness(0) invert(1);
}

.footer-bottom {
  padding: 1rem 0;
  width: 100%;
  background-color: var(--theme-color-primary-darkest);
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-bottom-content {
  padding: 0 1rem;
  width: 100%;
  max-width: var(--site-content-max-width);
}

#footer-copyright {
  font-weight: bold;
}

.footer-contact-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-contact-item:not(:first-child) {
  margin-top: 0.5rem;
}

.footer-contact-item {
  margin-top: 0.5rem;
}

.footer-contact-item a {
  text-decoration: none;
}

.footer-contact-item i {
  margin-right: 0.5rem;
}

.header-line-through {
  border-top: 2px solid #ebebeb;
  margin: 3rem;
}

.header-line-through > span {
  font-size: 2rem;
  padding: 0 0.5rem;
  position: absolute;
  left: 1rem;
  top: -1.5rem;
  margin-top: 0;
}

.black {
  background-color: black;
}

.black-text {
  color: black;
}

.white-text {
  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 90%;
  width: 90vw;
  margin: 0 auto;

  display: flex;
  background-color: white;
  border-radius: 10px;
  color: black;
  padding: 0 1rem 1rem 1rem;
}

.card-title {
  text-align: center;
}

@media only screen and (max-width: 1000px) {

  .hero{
    height: calc(100vh - var(--header-height) - 3rem);
  }

  .hero-background {
    background-color: #00000044;
  }


  .hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    height: 100%;
  }

  .hero-title {
    font-size: 3rem;
    color: #ebebeb;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    display: flex;
    -ms-align-items: flex-end;
    align-items: flex-end;
    justify-content: flex-start;
    justify-self: center;
  }

  .hero-subtitle {
    font-size: 1rem;
    color: #cbcbcb;
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    text-align: center;
    margin-bottom: auto;
  }

  .hero-description-title {
    font-size: 2rem;
    color: #ebebeb;
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
    display: flex;
    -ms-align-items: flex-end;
    align-items: flex-end;
    justify-content: flex-start;
    justify-self: center;
  }

  .hero-description {
    font-size: 1rem;
    color: #cbcbcb;
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
    width: max-content;
    justify-self: center;
  }

  .spotlight {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    min-height: 300px;
    margin-top: 0rem;
    padding: 1rem 0.5rem;
    background-color: white;
    border-radius: 10px;
  }

  .spotlight-column {
    width: 90vw;
    margin-bottom: 1rem;
  }

  .language-list {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 1rem;
  }

  #header-logo-wrapper img {
    height: 200%;
  }

  .header .social-links {
    font-size: 1.5rem;
  }

  .footer-content {
    align-items: center;
  }

  #footer-copyright {
    text-align: center;
  }
}

@media only screen and (max-width: 360px) {
  .header {
    font-size: 1rem;
  }

  #header-logo-wrapper img {
    height: 150%;
  }
}
